@media (prefers-color-scheme: dark) {
    code {
        color-scheme: light;
        color: initial;
        background-color: white;
        filter: invert(1) hue-rotate(180deg);
        border-radius: .5em;
        padding: .125em;
    }

    pre>code {
        display: inline-block;
    }
}