@media (prefers-color-scheme: dark) {
    code {
        color-scheme: light;
        color: initial;
        background-color: white;
        filter: invert(1) hue-rotate(180deg);
    }
}

code {
    display: inline-block;
    padding: .125em;
    margin: .125em;
    border-radius: .5em;
    border: lightblue solid 1px;
}